{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class='page-wrapper'>
        <div class='project'>
            <h5>Title: </h5><p>{{ object.title}}</p>
            <h5>Description: </h5><p class='project-description'>{{ object.description}}</p>
            <h5>Technology: </h5><p>{{ object.technology}}</p>
            <h5>GitHub: </h5> <p><a href='{{ object.github}}'>{{ object.github}}</a></p>
            {% if object.demo %}
                <h5>Demo: </h5><p><a href='{{ object.demo}}'> {{ object.demo}}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock page_content %}
