body{
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding-top: 2rem;
    text-align: center; 
    text-transform: uppercase;
}

.nav{
    text-transform: uppercase;
}
.nav-link {
    color: black;
}
a:link, a:hover, a:visited{
    color:gray ;
    
}

.page-wrapper{
    max-width: 42rem;
    margin: 0 auto;
}

.project{
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.project-title{
    padding-top: 1rem;
}

.project-title a{
    text-decoration: none;
    color:#212529 ;
}

.project-description{
    text-align: justify;
    padding-right: 0.5rem;
}


.info{
    text-align: justify;
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.social-links{
    padding-top: 4rem;
    text-align: center;
}

.social-links img{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    padding: 3rem;

}
.post{
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.post-title{
    padding-top: 1rem;
}

.post-title a{
    text-decoration: none;
    color:#212529 ;
}
.post-date{
    color: gray;
    font-style: italic;
    font-size: small;
}

.post-summary{
    padding-top: 1rem;
}

.post-body{
    text-align: justify;
}

.tag-name{
    padding-top: 3rem;
}