{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div>
        <p class='info'>
            I am looking for my place in the IT world, at first as a hobby and now I would like to permanently connect with it for the future. In addition to writing code at home, I finished the IT Technical School and then a Python course at SDA. These two universities allowed me to choose the direction of my further development, Junior Python Developer. I am a huge fan of Linux and Django.<br><br>
            I am currently looking for a place where I could start my commercial career.
        </p>
    </div>
        
    
        
    <div class='social-links'>
            <a href="https://github.com/MateusBz"><img src="{% static 'img/GitHub-Mark-64px.png'%}"alt=""></a>
            <a href="https://www.linkedin.com/in/mateusz-bzdzion-a254b757/"><img src="{% static 'img/LI-In-Bug-64px.png' %}" alt=""></a>
            <a href="mailto:mateusz.bzdzion@gmail.com"><img src="{% static 'img/iconfinder_aiga_mail_134146.png'%}" alt=""></a>
    </div>    
{% endblock page_content %}