body{
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding-top: 2rem;
    text-align: center; 
    text-transform: uppercase;
}

.nav{
    text-transform: uppercase;
}
.nav-link {
    color: black;
}
a{
    color:gray ;
}

.page-wrapper{
    max-width: 42rem;
    margin: 0 auto;
}

.project{
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem,
}

.project-title{
    padding-top: 1rem;
}